/* src/App.css */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #13141c;
  color: white;
}
.app {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #13141c;
  color: white;
  padding-top: 100px;
}

.submission-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.submission-form select,
.submission-form input,
.submission-form button {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px; /* Set font size to 16px */
}

.submission-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submission-form button:hover {
  background-color: #45a049;
}

.submission-list {
  list-style-type: none;
  padding: 0;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
}

.dancer-submissions {
  background-color: #09003c;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.dancer-submissions h3 {
  margin: 0;
}

.dancer-submissions ul {
  list-style-type: none;
  padding: 0;
}

.dancer-submissions li {
  background-color: #fff;
  padding: 5px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.admin-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #f44336;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.admin-button:hover {
  background-color: #d32f2f;
}

.admin-console {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.admin-console button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-console button:hover {
  background-color: #45a049;
}

.admin-console input[type="password"] {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px; /* Set font size to 16px */
}

.admin-console input[type="text"] {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px; /* Set font size to 16px */
}

.logo {
  width: 150px;
  height: 150px;
  margin: 20px;
}
.li {
  text-align: left;
}
.video-embed {
  text-align: center;
  max-width: 100%;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
}
iframe {
  width: 100%;
  border: none;
  height: 50%;
}
.menu-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #13141c;
  color: white;
  position: fixed;
  width: 100%;
  height: 50px;
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  justify-self: left;
  margin-right: auto;
}

.menu-heading {
  text-align: center;
  flex-grow: 1;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 100px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  transition: left 0.3s;
}

.side-menu.open {
  left: 0;
}

.close-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin: 15px 0;
}

.side-menu a {
  color: white;
  text-decoration: none;
}


.side-menu.open {
  left: 0;
}

.close-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.media-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jump-forward {
  width: 100%;
  height: 50px;
}
.jump-backward {
  width: 100%;
  height: 50px;
}
.play-pause {
  width: 100%;
  height: 50px;
} 
.critiques-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.critique-input {
  height: 30px;
  font-size: 18px;
  width: 80%;
}
.add-critique {
  height: 30px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20%;
}

.critiques-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #62678a;
}

.delete-critique {
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ff4d4d;
  font-size: 1.2em;

}

.critique-timestamp {
  margin-right: 10px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.critiques-list span, .critiques-list button {
  text-align: left;
}
.critiques-ul {
  padding: 0;
}
